:root{
    color: blue;
    color: brown;
    color: #fff;
}
header{
    width: 100%;
    height: 500px;
    background-color: blue;
}

main{
  background-image: linear-gradient(white, black);
  width: 100%;
  height: 800px;
  padding-top: 3%;
  
  }
  
.card1{
  width: 626px;
  height: 626px;
  font-family: 'Times New Roman', Times, serif;
  }
  .card2{
  width: 540px;
  height: 760px;
  
  padding-bottom: 200px;
  font-family: 'Times New Roman', Times, serif;
  }
  
  
  .align-in-row {
      display: flex;
      flex-direction: row;
      gap: 100px;
  }

  .card{
    width: 140px;
    height: 126px;
    font-family: 'Times New Roman', Times, serif;
  }
  


footer{
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.cards-wrapper{
  column-gap: 15px;
}
