*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

.card1{
width: 626px;
height: 626px;

}
.card2{
width: 540px;
height: 760px;

padding-bottom: 200px;

}

.align-in-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.box-degrade{
width: 100%;
padding: 300px 0;
display: flex;
background-image: linear-gradient(to left, blue);



    }
  


 