*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

.card1{
width: 626px;
height: 626px;
font-family: 'Times New Roman', Times, serif;
}
.card2{
width: 540px;
height: 760px;

padding-bottom: 200px;
font-family: 'Times New Roman', Times, serif;
}


.align-in-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
main{
background-image: linear-gradient(white, black);
}
.card{
  width: 140px;
  height: 126px;
  font-family: 'Times New Roman', Times, serif;
}





    }
  


 