*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;

}
.p1{
    width: 500px;
    position: absolute;

    right: 30%;
    
}
.p{
    width: 500px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
p{
    text-align: justify;
    text-indent: 50px;
    padding-bottom: 3%;
}

h1{
    padding-bottom: 5%;
}
.twitter-tweet{
    padding-bottom: 30%;
}